.info {
  margin-bottom: 5px;
  .title {
    font-size: 12px;
    color: #a0b0b9;
  }
  .content {
    font-size: 14px;
  }
}

@media (min-width: 460px) {
  .race {
    display: flex;
    margin: 0 -5px;
  }
  .info {
    margin: 5px;
    width: calc(100% / 3 - 10px);
    .title {
      font-size: 13px;
    }
    .content {
      font-size: 15px;
    }
  }
}
